{% set conf = salt['grains.filter_by']({
    'Debian':  {
        'source': 'https://github.com/immortal/immortal/releases/download/0.15.0/immortal_0.15.0_amd64.deb',
        'immortaldir_path': '/etc/immortal',
    },
    'FreeBSD': {
        'immortaldir_path': '/usr/local/etc/immortal',
    },
}, grain='os_family', merge=salt['pillar.get']('immortal:lookup')) %}
