{% set conf = salt['grains.filter_by']({
    'Debian':  {
        'immortaldir_path': '/etc/immortal',
    },
    'RedHat':  {
        'immortaldir_path': '/etc/immortal',
    },
    'FreeBSD': {
        'immortaldir_path': '/usr/local/etc/immortal',
    },
}, grain='os_family', merge=salt['pillar.get']('immortal:lookup')) %}
