{%- from "immortal/map.jinja" import conf with context -%}
[Unit]
Description=immortaldir
After=network.target

[Service]
ExecStart=/usr/bin/immortaldir {{ conf.get('immortaldir_path', '/etc/immortal') }} 2>&1 | logger -t immortaldir
KillMode=process
Restart=always
Restart=on-failure
Type=simple
User=root

[Install]
WantedBy=multi-user.target
